<!DOCTYPE html>
<html ng-app="admin">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>res:::(Administrator)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "commons/scripts.html" %}
    <script server>
            (function(model,req,res,next){
                var q=require("quicky");
                if(!q.sys.findUser("","root")){
                    q.sys.createUser(
                        "",
                        "root",
                        "root",
                        "",
                        "Sys administrator",
                        true,true);
                }
                if(req.getUser()==undefined){
                    res.redirect(req.getAppUrl()+"/login?ret="+escape(encodeURI(req.getFullUrl())));
                }
                model.user=req.getUser();
                return {
        
                }
            });
        </script>
</head>
<body ng-controller="admin">
        {% include "commons/menu.html" %}
        {% block body %}{% endblock %}
        <div c-template url="{{$root.url}}"></div>
        <script>
            var mdl=angular.module("admin",["c-ui"]);
            mdl.controller("admin",["$dialog","$scope",function(dialog,$scope){
                history_navigator($scope.$root);
                $scope.$root.$history.change(function(data){
                    $scope.$root.url=data.page;
                    $scope.$root.$applyAsync();
                })
                
            }]);

        </script>
</body>
</html>