

<div class="container">
    
    <div class="btn-toolbar pull-right">
        <div class="btn-group"><button type="button" class="btn btn-default" ng-click="doPreview()">Preview</button></div>
        <div class="btn-group"><button type="button" class="btn btn-default" ng-click="doPrint()">Print</button></div>
        <div class="btn-group"></div>
    </div>
    
</div>

<div>
    
    
    
    
</div>
<script>
    (function(scope){
        scope.doPreview=function(){
            
            scope.ws.call("preViewReport").done(function(res){

                console.log(scope);
                var iframe = document.createElement('iframe');
                $(iframe).css({
                    width:"100%",
                    height:"400px"
                })
                $(iframe).attr("id","frm_print");
                var html = res;
                document.body.appendChild(iframe);
                iframe.contentWindow.document.open();
                iframe.contentWindow.document.write(html);
                iframe.contentWindow.document.close();
                scope.iframe=iframe;
            console.log(res);
        });
        }
        scope.doPrint=function(){
            $(scope.iframe).get(0).contentWindow.print();
        }
    });
</script>
<script server>
     (function(model,req,res,next){
         return {
             ajax:{
                preViewReport:function(data){
                    debugger;
                    var x=require("quicky/jasper-report").jasper(
                        "http://172.16.7.67:8080/jasperserver",
                        "jasperadmin",
                        "jasperadmin"
                    );
                    var content=x.reports.run("reports/Danh_sach_nhan_vien","html");
                    var pdf = require('html-pdf');
                    pdf.create(content,{
                        "phantomPath":"".getRootDir("node_modules/phantomjs/bin/phantomjs")
                    }).toFile('businesscard.pdf', function(err, res) {
                        debugger;
                        if (err) return console.log(err);
                        console.log(res); // { filename: '/app/businesscard.pdf' }
                    });
                    return content;
                }
             }
         }
     });   
</script>